<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/8af67e35-b361-4004-ae04-ed9b472a40b8/resourceGroups/WHDB/providers/Microsoft.ApiManagement/service/WarehouseAPIapi/apis/WarehouseAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/8af67e35-b361-4004-ae04-ed9b472a40b8/resourcegroups/WHDB/providers/Microsoft.Web/sites/WarehouseAPI20231117142931</ResourceId>
    <ResourceGroup>WHDB</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://warehouseapi20231117142931.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8115a5ad-1e57-4245-94a0-24a0d865870f</ProjectGuid>
    <PublishUrl>https://warehouseapi20231117142931.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WarehouseAPI20231117142931</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>